body {
  margin: 0;
  background-image: url(./img/background.jpg) !important;
  background-size: cover;
  height: 100%;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section {
  background-color: #2b2a2af3;
  border-radius: 10px;
  padding: 25px;
}

.sub-section {
  background-color: #212529;
  border-radius: 10px;
  padding: 25px;
  margin-top: 25px;
}

h1,
h2,
h3 {
  color: #ffffff;
}

/* Balence assets transactions figure  */
.lead {
  color: rgb(247, 250, 76) !important;
}

/* Login Form */
.form-container {
  max-width: 400px;
  margin: 0 auto;
}
.form-container h1,
.form-container p {
  color: white !important;
}

.login-form {
  color: white !important;
  max-width: 450px;
  margin: 0 auto;
  background-color: #2b2a2af3;
  border-radius: 10px;
  padding: 25px;
}

.login-lable {
  font-weight: bold;
}

.login-form a {
  text-decoration: none;
}

.profile-image {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.image-div {
  margin: 0 auto;
}

/* Spinner */
.spinner-border {
  height: 250px !important;
  width: 250px !important;
  border: 1em solid currentColor;
  display: block !important;
  margin: 100px auto;
}
